.Guide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-left: 15px;
}

.GuideTitle {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: auto;
  color: #08479e;
  margin-left: 140px;
  text-shadow: 1px 1px 1px rgb(204, 204, 204);
}

.GuideDetail {
  font-size: 1.5rem;
}

.stat1234 {
  color: #FF6933;
  font-weight: bold;
}

.GuideDetailTitle {
  font-size: 1.1rem;
  font-weight: bold;
  color: #FF6933;
}

.GuideStandard {
  font-size: 1rem;
}

.GuideLast {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  color: gray;
  text-indent: 10px;
}

.Fogi {
  margin-right: 15px;
  margin-top: 30px;
  margin-left: 15px;
}