.section {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 10px 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: bolder;
}

.List {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 5px;
}

.text {
  margin: 10px 0 10px 0;
}

.over {
  overflow-y: scroll;
  width: 410px;
  max-height: 135px;
}

.timer {
  text-align: right;
  margin-right: 5px;
  font-size: 0.9rem;
}

.right {
  color: gray;
}

.day1 {
  background: #dd993f;
  border: 1px solid #dd993f;
}

.day2 {
  background: #2e58ba;
  border: 1px solid #2e58ba;
}

em {
  padding: 1px 4px;
  margin-right: 7px;
  color: #fff;
}

.news {
  font-size: 0.95rem;
  cursor: pointer;
}
.news:hover {
  animation: none;
}
.news:focus {
  animation: none;
}
.news:active {
  animation: none;
}