.g {
  filter: drop-shadow(2px 2px 2px gray);
}

.OUTLINE {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 1;
}

#CD11, #CD26, #CD27, #CD28, #CD29, #CD30,
#CD31, #CD36, #CD41, #CD42, #CD43, #CD44,
#CD45, #CD46, #CD47, #CD48, #CD50 {
  fill: rgb(184, 182, 182);
}

#CD11:hover, #CD26:hover, #CD27:hover, #CD28:hover, #CD29:hover, #CD30:hover,
#CD31:hover, #CD36:hover, #CD41:hover, #CD42:hover, #CD43:hover, #CD44:hover,
#CD45:hover, #CD46:hover, #CD47:hover, #CD48:hover, #CD50:hover {
  fill: #598aec;
}


.TEXT {
  fill: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-anchor: middle;
  text-align: center;
  text-shadow: 1px 2px 3px rgb(0, 0, 0);
}

#CD50 {
  outline: 1px gray solid;
  outline-offset: 30px;
}